
.app-shell {
  display: grid;
  grid-template-columns: 240px minmax(560px, 1fr);
  height: 100vh;
  overflow: hidden;
  background: #f8f9ff;
}

.app-shell.has-preview {
  grid-template-columns: 240px minmax(560px, 1fr) 500px;
}
